# Telstra Kaggle Competition

In [9]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
ls

 Volume in drive C is OS
 Volume Serial Number is 761C-04F8

 Directory of C:\Users\JChung\Desktop\kaggle comp\telstra

01/12/2015  03:27 PM    <DIR>          .
01/12/2015  03:27 PM    <DIR>          ..
30/11/2015  02:06 PM    <DIR>          .ipynb_checkpoints
22/09/2015  11:41 AM           604,547 event_type.csv
21/09/2015  05:57 PM         1,137,312 log_feature.csv
22/09/2015  11:41 AM           451,101 resource_type.csv
21/09/2015  05:57 PM           397,055 severity_type.csv
01/12/2015  03:27 PM            16,522 Telstra Notebook.ipynb
21/09/2015  05:57 PM           206,541 test.csv
21/09/2015  05:57 PM           151,234 train.csv
               7 File(s)      2,964,312 bytes
               3 Dir(s)  143,717,199,872 bytes free

In [66]:
train = pd.read_csv("train.csv",index_col=0)
test = pd.read_csv("test.csv",index_col=0)

In [71]:
test.sort_index().head()

         location
id
2    location 474
3     location 64
4    location 645
7    location 638
9   location 1100

In [24]:
train.sort_index().head()

        location  fault_severity
id
1   location 601               1
5   location 460               0
6   location 332               1
8   location 243               0
13  location 418               0

In [ ]:
def preprocessing(x):

In [31]:
eventType = pd.read_csv("event_type.csv", index_col=0)
eventTypeVectorized = pd.get_dummies(event_type).groupby(event_type.index).sum()
severityType = pd.read_csv('severity_type.csv', index_col=0)
severityTypeVectorized = pd.get_dummies(severityType).groupby(severityType.index).sum()
logFeature = pd.read_csv('log_feature.csv', index_col=0)
logFeatureVectorized = pd.get_dummies(logFeature).groupby(logFeature.index).sum()
resourceType = pd.read_csv('resource_type.csv', index_col=0)
resourceTypeVectorized = pd.get_dummies(resourceType).groupby(resourceType.index).sum()
mergedTables = train.join(eventTypeVectorized).join(severityTypeVectorized).join(logFeatureVectorized).join(resourceTypeVectorized)

In [37]:
mergedTables.head()

,location,fault_severity,event_type_event_type 1,event_type_event_type 10,event_type_event_type 11,event_type_event_type 12,event_type_event_type 13,event_type_event_type 14,event_type_event_type 15,event_type_event_type 17,...,resource_type_resource_type 1,resource_type_resource_type 10,resource_type_resource_type 2,resource_type_resource_type 3,resource_type_resource_type 4,resource_type_resource_type 5,resource_type_resource_type 6,resource_type_resource_type 7,resource_type_resource_type 8,resource_type_resource_type 9
id,,,,,,,,,,,,,,,,,,,,,
14121,location 118,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9320,location 91,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
14394,location 152,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8218,location 931,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
14804,location 120,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [38]:
#Lets try Logistic Regression
from sklearn.linear_model import LogisticRegression

In [59]:
X = pd.get_dummies(mergedTables)
X = X.drop('fault_severity',axis=1)
Y = mergedTables.fault_severity

In [65]:
Y.values

array([1, 0, 1, ..., 2, 0, 0], dtype=int64)

In [61]:
Y.shape

(7381L,)

In [57]:
log = LogisticRegression()
log.fit(X,Y)
y_pred = log.predict()

(7381, 1385)